@font-face {
    font-family: Aeonik;
    src: url(../majaorproject/620e5796f94823392179d875_AeonikPro-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    height: 100%;   
}
#nav{
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    font-family: gilroy;
    color: #fff;
}
#nav #serv{
    display: flex;
    align-items: center;
    gap: 2vw;
    
}
#nav #serv a{
    text-decoration: none;
    color: #fff;
}
#nav #serv button{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #666;
    color: #fff;
}
#main{
    border-top: 1px solid transparent;
    width: 100%;
    min-height: 100vh;
    font-family: gilroy;
    overflow: hidden; 
    background-color: #000;  
}
#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 100%;
    font-size: 6vw;
    height: 70vh;
    position: fixed;
    font-family: gilroy;
    background-color: #000;
}
#hero p{
    font-size: 10px;
    align-self: flex-end;
    position: absolute;
    bottom: 20px;
    right: 40px;
    gap: 2vw;
}
#hero>p i{
    margin-top: 5px;
}
.row{
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 0 40px;
    overflow: hidden;
}
.row h2{
    font-size: 6vw;
    font-weight: 500;
}
.row:nth-child(2) span{
    width: 49%;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: #fff;
    display: inline-block;
    position: relative;
}
.row:nth-child(3){
    align-items: flex-end;
    justify-content: flex-end;
}
#maincontent{
    z-index: 99999;
    position: relative;
    width: 100%;
    min-height: 200vh;
    margin-top: 70vh;
    overflow-x: hidden;
    background-color: #000;
}
#video{
    width: 100%;
    height: 100%;
}
#textcontainer{
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: gilroy;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 3vw;
    background-color: #000;
}
#tex{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
#tex>h2{
    font-weight: 500;
    font-size: 3vw;
}
#textcontainer2{
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-size: 2vw;
    font-family: gilroy;
    padding: 2vw 4vw;
}
#orbital{
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: gilroy;
    padding: 1vw 2vw;
    background-color: #000;
}
#orbital>h2{
    font-size: 2.5vw;
    gap: 1vw;
    display: flex;
    align-items: center;
    font-weight: 400;
}
#line{
    width: 85%;
    height: 1px;
    background-color: rgb(138, 135, 135);
    display: inline-block;
}
.rowtxt{
    font-size: 10vw;
    display: flex;
    align-items: center;
    margin-top: 2vw;
}
.rowtxt>h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 23vw;
    line-height: 20vw;
}
.rowtxt span{
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    display: inline-block;
    position: relative;
}
.rowtxt span:hover{
    cursor: pointer;
}
#orbitalvideo{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
#orbitalvideo video{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#slides{
    width: 100%;
    height: 100vh;  
    display: flex;
    color: #fff;
    position: relative;
    background-color: #000;
}
.slide{
    width: 25%;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-top: #fff solid 1px;
}
.tile{
    width: 100%;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
}
.tile>h3{
    font-size: 4vw;
    font-weight: 500;
}
.arrow{
    width: 40px;
    height: 40px;
    margin-top: 23px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #555 ;
    overflow: hidden;
}
i#main{
    position: relative;
    top: 30%;
    left: 30%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
i#movingarow{
    position: absolute;
    top: 150%;
    left: 0;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.opening{
    width: 0%;
    height: 100%;
    background-color: #fff;
    position: absolute  ;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.slide:hover{
    cursor: pointer;
}
.info{
    width: 100%;
    height: 60px;
    
    position: absolute;
    bottom: -25%;
    align-items: center;
    display: flex;
    padding: 0 3vw;
    overflow: hidden;
}
#videoslide{
    position: relative;
    overflow: hidden;
}
.circular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}
.circular img{
    animation: ghumteraho 10s linear infinite both;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.openvideo{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .4s;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
}
.openvideo video{
    position: absolute;
    top: 50%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: green;
}
.slide:hover .info{
       bottom: 2vw;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        color: #000;
}
.slide:hover .arrow i#main{
    left: 40px;

}
.slide:hover .arrow i#movingarow{
    top: 50%;
    left: 50%;
}
.slide:hover .opening{
    width: 100%;
}
.slide:hover .tile{
    z-index: 999999999;
    color: #000;
}
#desc{
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 3vw;
}
#desc>h1{
    font-size: 4vw;
    font-weight: 500;
}
.branddesc{
    width: 100%;
    height: 40vh;
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    background-color: #fff;
}
#cour{
    color: blue;
}
.brands{
    width: 25%;
    height: 100%;
    padding: 0 3vw;
    gap: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.brands>div{
    line-height: 18px;
    color: rgb(9, 5, 147);
}
#workpage{
    width: 100%;
    background-color: #fff;
    position: relative;
   overflow: hidden;
}   
#worktext{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#worktext>h1{
    font-size: 30vw;
    font-weight: 500;
} 
.card1{
    position: absolute;
    left: 15%;
    font-size: 2vw;
    top: 100%;
}
.card2{
    position: absolute;
    left: 60vw;
    top: 155%;
    font-size: 2vw;
}
.card3{
    position: absolute;
    left: 30vw;
    top: 225%;
    font-size: 2vw;
}
.card1>.img{
    width: 350px;
    height: 550px;
    background-image: url(https://assets.website-files.com/620970e0fc117e313fe36ebd/62721a9fa38f7f4b7f6fa4d6_thumb_olive.jpg);
    background-size: cover;
    background-position: center;
}
.card2>.img{
    width: 350px;
    height: 550px;
    background-image: url(https://assets.website-files.com/620970e0fc117e313fe36ebd/6268fab393803a81e2d7a89e_focus-V_thumbnail.jpg);
    background-size: cover;
    background-position: center;
}
.card3>.img{
    width: 350px;
    height: 550px;
    background-image: url(https://assets.website-files.com/620970e0fc117e313fe36ebd/624ce4cf4b896785b3f52286_stryx-case-study-thumbnail.jpg);
    background-size: cover;
    background-position: center;
}
#footer{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    border-top: 2px solid #444;
}
#left{
    width: 50%;
    height: 100%;
   border-right: 2px solid #555;
    display: flex;
    align-items: center;
    padding: 3vw 0;
    flex-direction: column;
    color: #fff;
}
#left>h1{
    position: relative;
    font-size: 4vw;
    font-weight: 450;
}
#footimg{
    width: 250px;
    height: 250px;
     background-image: url(https://assets.website-files.com/6205ecdcec584c56193d6121/6246217a2a1efb208cb41ffa_badge-fueled_news.svg);
    position: relative;
    top: 50px;
    background-position: center;
    background-size: cover;
}
#footcon{
    position: relative;
    top: 150px;
    font-size: 15px;
    color: #fff;
     width: 65%;
}
#footcon>h3{
    font-weight: 300;
}
#footcon>span{
    width: 100%;
    height: 2px;
    background-color: #444;
    display: flex;
}
#left>button{
    font-size: 2vw;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    padding: 0 10px;
    border-radius: 30px;
    border: 1px solid #444;
    position: relative;
    top: 180px;
}
#left>p{
    text-align: center;
}
#right{
    width: 50%;
    height: 100%;
    color: #fff;
}
.tags{
    width: 100%;
    height: calc(100%/9);
    display: flex;
    align-items: center;
    border-bottom: 2px solid #555;
    position: relative;
}
.tags>h1{
    font-size: 2.5vw;
    font-weight: 400;
    margin-left: 20px;
}
.opener{
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
.tags:hover  h1{
    color: #000;
    z-index: 9999999;
}
.tags:hover .opener{
    cursor: pointer;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}


/* RESPONSIVE CODE */

@media(max-width :500px){
    #serv a{
        display: none;
    }
    #hero{
        height: initial;
        top: 15%;
    }
    #hero p{
        position: relative;
        bottom: -10px;
    }
    #maincontent{
        margin-top: 30vh;
    }
    #textcontainer{
        padding: 5vw;
        height: 25vh;
    }
    #textcontainer>h2{
        font-size: 5vw;
    }
    .rowtxt>h1{
        font-size: 18vw;
        line-height: 17vw;
    }
    .rowtxt span{
        font-size: 13px;
        padding: 8px 11px;
        margin-left: 5px;
    }
    #orbital{
        height: initial;
    }
    #orbitalvideo{
        height: 55vh;
       overflow: initial;
        position: relative;
    }
    #orbitalvideo video{
        width: 100%;
    }
    #slides{
         flex-direction: column;
         height: initial;
         align-items: center;
         justify-content: center;
    }
    .slide{
        width: 100%;
        height: 25vh;
    }
    .arrow{
        margin-top: 6px;
    }
    .opening{
        width: 100%;
        height: 0;
    }
    .slide:hover .opening{
        height: 100%;
    }
    .tile{
        align-items: center;
    }
    #videoslide{
        display: none;
    }
    #desc{
        height: 39vh;
    }
    #desc>h1{
        font-size: 8vw;
    }
    .branddesc{
        height: 50vh;
        flex-direction: column;
        gap: 2vw;
    }
    .brands{
        width: 100%;
        height: 50%;
    }
    .brands>h1{
        font-size: 5vw;
    }
    .brands .qedtext{
        font-size: 2.5vw;
    } 
    .brands>p{
        font-size: 3vw;
        line-height: 3vw;
    }
    #footer{
        flex-direction: column;
    }
    #footcon{
        top:70px
    }
    #left>button{
        font-size: 4vw;
        top: 110px;
    }
    #left{
        width: 100%;
        height: 40%;
    }
    #right{
        width: 100%;
        border-top: 2px solid #444;
        margin-top: 50vw;
    }
}